
<!-- Display the search criteria -->
<div id="search-criteria" class="container">

  <div class="row">
    <div class="col-md-12 header">
      <h3>Hotel Search Results</h3>
      <ul class="nav">
        <span><b>City: </b><%= @search_hotel.city %></span>
        <span><b>Star Rating: </b><%= @search_hotel.min_star_rating %> - <%= @search_hotel.max_star_rating %></span>
        <span><b>Daily Nightly Rate: </b>$<%= @search_hotel.min_daily_rate %> - $<%= @search_hotel.max_daily_rate %></span>
      </ul>
    </div><!-- col-md-12 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-md-12">
      <div class="filter" data-label="Show: ">
        <ul>
          <li class="active"><a href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".deals">Deals</a></li>
        </ul>
      </div><!-- filter -->
    </div><!-- col-md-12 -->
  </div><!-- row -->
</div><!-- search-criteria -->

<div id="search-results" class="container">
  <div id="accordion" class="row">
    <% @search_hotel.hotel_results.each_with_index do |hotel_result, index| %>
      <!-- Check to see if hotel star rating is within search criteria -->
      <% if (hotel_result.hotel_star_rating >= @search_hotel.min_star_rating && hotel_result.hotel_star_rating <= @search_hotel.max_star_rating) %>
        <!-- Check to see if hotel daily rate is within search criteria -->
        <% if (hotel_result.original_rate >= @search_hotel.min_daily_rate && hotel_result.original_rate <= @search_hotel.max_daily_rate) %>
          <div class="cta">
            <div class="cta-inner">
              <div class="col-text">

                <!-- Display hotel photo -->
                <div class="col-md-2 hotel-photo">
                  <img src='<%= hotel_result.image_url %>'>
                </div><!-- col-md-2 -->

                <!-- Display hotel name, star rating and a show details button -->
                <div class="col-md-8">
                  <h3 class="headline"><%= hotel_result.name %></h3>
                  <span class="stars">
                    <%= hotel_result.hotel_star_rating %>
                  </span>
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>">
                    Show Details
                  </a>
                </div><!-- col-md-8 -->

                <!-- Display hotel original price and promo price if applicable -->
                <div class="col-md-2">
                  <% if (hotel_result.promo_amount != 0.0) %>
                    <div class="deal-text">DEAL!</div>
                    <div class="hotel-price">
                      <div class="glyphicon glyphicon-usd original-price">
                        <%= hotel_result.original_rate.round %>
                      </div>
                      <br />
                      <div class="glyphicon glyphicon-usd highlighted-price">
                        <span><%= hotel_result.promo_rate.round %></span>
                      </div>
                    </div>
                  <% else %>
                    <div class="hotel-price">
                      <div class="glyphicon glyphicon-usd highlighted-price">
                        <span><%= hotel_result.original_rate.round %></span>
                      </div>
                    </div>
                  <% end %>
                </div><!-- col-md-2 -->

                <div class="clearfix"></div>

                <div id="collapse<%= index.to_s %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-md-2"></div>

                    <!-- Additional hotel information to be shown after the Show Details link is clicked -->
                    <div class="col-md-8">
                      <div class="description">
                        <p><b>Description </b></p><p><%= hotel_result.hotel_description %></p>
                      </div>
                      <p><b>Minimum Length of Stay: </b><%= hotel_result.length_of_stay %></p>
                      <p class="glyphicon glyphicon-calendar"></p><b>Check In Date: </b><%= hotel_result.check_in_date.strftime("%A, %b %e, %Y") %>
                      <br />
                      <p class="glyphicon glyphicon-calendar"></p><b>Check Out Date: </b><%= hotel_result.check_out_date.strftime("%A, %b %e, %Y") %>

                      <!-- Button to trigger modal -->
                      <div id="button" class="col-btn">
                        <a class="btn btn-md btn-success" data-toggle="modal" data-target="#myModal<%= index.to_s %>">Book it!</a>
                      </div><!-- button -->

                      <!-- Modal -->
                      <div class="modal fade" id="myModal<%= index.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Thank You So Much for the Opportunity!</h4>
                            </div>
                            <div class="modal-body">
                              <p>Developed & Designed by <a href="http://meredithunderell.com" target="_blank">Meredith Underell</a>.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
                    </div><!-- col-md-8 -->

                    <!-- Display static google map of hotel location -->
                    <div class="col-md-2 maps">
                      <img src='http://maps.googleapis.com/maps/api/staticmap?markers=<%= hotel_result.hotel_latitude %>,<%= hotel_result.hotel_longitude %>&zoom=11&size=150x150&sensor=false'>
                    </div><!-- col-md-2 -->
                  </div><!-- panel-body -->
                </div><!-- panel-collapse -->

              </div><!-- col-text -->
            </div><!-- cta-inner -->
          </div><!-- cta -->
        <% end %>
      <% end %>
    <% end %>
  </div><!-- row -->
</div><!-- search-results -->


<!-- Display stars instead of numerical values -->
<script>
  $(function() {
      $('span.stars').stars();
  });
</script>













